$page1_primary: #000000;
$page2_primary: #2bcbba;
$page2_secondary: #1f998d;
$page3_primary: #fed330;
$page3_secondary: #f7b731;
$page4_primary: #ff1493;
$page5_primary: #ff3f34;
$page6_primary: #dde1e7;
$page6_secondary: #babecc;