.wrapper {
    top: -15%;
    left: 15%;
    position: fixed;
    z-index: 1;
    width: 10%;
    font-family: open sans, sans-serif;
    margin: 0 auto;
    height: 50%;
    background-color: transparent;
    h1 {
        transform: translate(-50%, -50%) skew(10deg) rotate(0deg);
        font-size: 4vw;
        top: 50%;
        left: 50%;
        margin: 0;
        position: absolute;
        text-rendering: optimizeLegibility;
        font-weight: 900;
        color: rgba(0, 0, 0, 0);
        background-color: transparent;
        white-space: nowrap;
        &:before {
            content: attr(data-heading);
            position: absolute;
            left: 0;
            top: -4.8%;
            overflow: hidden;
            width: 100%;
            height: 50%;
            color: #000;
            transition: 0.3s;
            transform: scale(1, 1.2);
            text-shadow: 2px -1px 6px rgba(0, 0, 0, 0.3);
            z-index: 2;
        }
        &:hover:before {
            color: #161616;
            transform: translate(0.4vw, 0) skew(-13deg) scale(1, 1.2);
        }
        &:after {
            content: attr(data-heading);
            position: absolute;
            left: 0;
            top: 0;
            overflow: hidden;
            color: black;
            width: 100%;
            height: 100%;
            z-index: 1;
            transition: 0.3s;
            clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
            text-shadow: 2px -1px 6px rgba(0, 0, 0, 0.3);
        }
        &:hover:after {
            color: #141414;
            transform: translate(0vw, 0) skew(13deg) scale(1, 0.8);
        }
        &:hover {
            color: rgba(255, 255, 255, 0.6);
        }
    }
}

@media only screen and (max-width: 500px) {
    .wrapper {
        display: none;
    }
}